@page "{id:int?}"
@model RssReader.Pages.AddOrEditCategoryModel
@{
	if (!Model.CategoryId.HasValue) 
	{
		ViewData["Title"] = "Add Category";
	} 
	else 
	{
		ViewData["Title"] = "Edit Category";
	}
}

<div class="container-fluid">
	<form method="post">
	<h3>@ViewData["Title"]</h3>
    <div asp-validation-summary="All"></div>
    <input asp-for="CategoryId" type="hidden" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
</div>